.cardcss {
  width: 300px;
  height: 350px;
  opacity: 0.89;
  font-family: "Times New Roman", Times, serif;
}
.cardcss2 {
  width: 300px;
  height: 55px;
  opacity: 0.89;
  font-family: "Times New Roman", Times, serif;
  font-size: 12px;
}
